//import sass file for slider
@import 'chroniton';
@import 'd3-slider';

$primary-color: #bbb;


* {
  font-family: helvetica, arial;
}

circle {
  fill: $primary-color;
}

rect {
  fill: $primary-color;
}
